<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Inpainting App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% block extra_styles %}{% endblock %}
</head>
<body>
    <!-- Pasek nawigacji -->
    <header>
        <nav>
            <ul class="navbar">
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
            </ul>
        </nav>
    </header>
    <!-- Sekcja główna -->
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
