<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Inpainting Tool</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_upload.css') }}">
</head>

<body>

    <!-- Pasek nawigacji -->
    <header>
        <nav>
            <ul class="navbar">
                <li><a href="{{ url_for('home') }}">Home Page</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('gallery') }}">Gallery</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <h1>Your Gallery</h1>
            <div class="gallery">
                {% for image in images %}
                    <div class="image">
                        <h3>{{ image.filename }}</h3>
                        <img src="data:image/jpeg;base64,{{ image.data }}" alt="result image">
                    </div>
                {% endfor %}
            </div>
    </main>
