{% block extra_styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style_gallery.css') }}">
{% endblock %}

{% extends 'base_main.html' %}

{% block title %}Gallery - {{ current_user.username }}{% endblock %}

{% block content %}
    <main>
        <h1>{{ current_user.username }} Gallery</h1>
        <div class="gallery">
            {% for image in images %}
                <div class="image-container">
                    <h3>{{ image.filename }}</h3>
                    <img src="data:image/jpeg;base64,{{ image.data }}" alt="{{ image.filename }}">
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
