* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #f2f2f2, #d6eaf8);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-y: scroll;
    padding-bottom: 50px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #222;
    padding: 15px 0;
    z-index: 1000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.navbar li {
    font-size: 18px;
    font-weight: 700;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s ease, transform 0.3s ease;
}

.navbar a:hover {
    color: #ffcc00;
    transform: translateY(-3px);
}

.user-bar {
    width: 100%;
    background-color: #444;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 60px;
}

main {
    padding-top: 120px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 120px);
}

@keyframes slideIn {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

button {
    background: #2980b9;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease, transform 0.2s ease;
}

button:hover {
    background: #1f618d;
    transform: scale(1.05);
}



.dark-mode {
    background: #161617;
    color: #ecf0f1;
}

.dark-mode .container {
    background: #2c3e50;
}
.dark-mode .profile-container {
    background: #222;

}

.dark-mode .profile-container h1 {
    color: white;
}

.dark-mode .change-password h2 {
    color: white;
}
.dark-mode .instructions {
    background: #34495e;
    color: #ecf0f1;
}

.dark-mode .upload-section {
    color: #ecf0f1;
}

.dark-mode .upload-section h1 {
    color: #fff;
}

.dark-mode label {
    color: #fff;
}

.dark-mode main {
    background: #2c3e50;
}

.dark-mode .profile-info p {
    color: #fff;
}

.dark-mode button {
    background: #2980b9;
}

.dark-mode .download-btn {
    background: #2980b9;
}

#toggle-dark-mode {
    margin: 20px 20px 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    color: #34495e;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 50px;
    height: 50px;
}

#toggle-dark-mode:hover {
    background-color: #f2f2f2;
    color: #2980b9;
}
